.card-custom{
  box-shadow: unset !important;
  border-radius: unset !important;
}
.form-control[readonly] {
  background-color: #dddddd !important;
  cursor: not-allowed;
}
input{
  height: 0.2175em !important;
}