/* dropDown.tsx */
#demo-customized-button{
 color: #3699FF;
 background-color: #E1F0FF;
 border-color: transparent;

}
#demo-customized-button:hover{
background-color: #3699FF;
color: #FFFFFF;
}

.text-blue {
 color:  #3699FF !important;
}

.MuiMenuItem-root:hover{
 color: #3699FF !important;
 background-color: #F3F6F9;
 
}
.MuiMenuItem-root:hover svg{
 color: #3699FF !important;
 
}
/* dropDown.tsx */

/* Home.tsx */
.text-hover:hover{
 color:  #3699FF !important;
 cursor: pointer;
}

.MuiTableCell-root{
 border-bottom:none !important;
}

.symbol-label>svg{
 height: 2rem !important;
 width: 2rem !important;
}
.symbol-label{
   width: 45px;
   height: 45px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bolder;
   border-radius: 5px;
}

.symbol-label-First{
 background-color: #C9F7F5;
}
.symbol-label-second{
 background-color: #FFE2E5;
}
.symbol-label-third{
 background-color: #EEE5FF;
}
.symbol-label-Forth{
 background-color: #FFF4DE;
}
.symbol-label-fifth{
 background-color: #E1F0FF;
}
.container{
 direction: ltr;
}


